<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="fediverse:creator" content="@erind@aus.social">
    <title>{% block title %}Welcome{% endblock %} — Erin's Website</title>
    <link rel="stylesheet" href="{{ '/static/reset.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
  </head>
  <body>
    <header>
      <h1>Erin Deakin-Thomas</h1>
      <nav>
        <ul class="nav navbar-nav">
          <li>
            <a {% if this._path == '/' %} class="active"{% endif%} href="{{ '/'|url }}">Home</a>
          </li>
          {% for href, title in [
          ['/blog', 'Blog'],
          ['/work', 'Work']
          ] %}
            <li>
              <a {% if this.is_child_of(href) %} class="active"{% endif%} href="{{ href|url }}">{{ title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </header>
    <main class="page">
      {% block body %}{% endblock %}
    </main>
    <footer>
      <small>&copy; Copyright 2025 Erin Deakin-Thomas</small>
    </footer>
  </body>
</html>